*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
html
{
    scroll-behavior: smooth;
}
body
{
    background: #080808;
    color: #fff;
}
/* css start for header */
#header
{
    width: 100%;
    height: 100vh;
    /* background-image: url("images/MYFULLPHOTO.jpg");
    background-size: cover;
    background-position: right; */
}
.container
{
    padding : 10px 10%;
}
nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo
{
    width: 60px;
    border-radius: 50%;
}
nav ul li
{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a
{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after
{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after
{
    width: 100%;
}
.header-text
{
    margin-top: 20%;
    font-size: 30px;
    display: grid;
    grid-template-columns: auto auto auto;
}
.header-text h1
{
    font-size: 50px;
    margin-top: 20px;
}
.header-text h1 span
{ 
    color: #ff004f;
}
.header-text-photo
{
    margin-top: -100px;
    height: 400px;
    width: 350px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 200px;
    border: 6px solid #fff;
}
.header-text-photo img
{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    filter: grayscale(100%);
    transition: 1s ease;
    cursor: pointer;
}
.header-text-photo img:hover
{
    transform: scale(1.3);
    filter: grayscale(0%);
}
/* css end for header */


/*about section css start here*/
#about
{
    padding: 80px 0px;
    color: #ababab;
}
.row
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1
{
    flex-basis: 35%;
}
.about-col-1 img
{
    width: 100%;
    border-radius: 15px;
}
.about-col-2
{
    flex-basis: 60%;
}
.sub-title
{
    font-size: 50px;
    font-weight: 600;
    color: #fff;
}
.sub-desc
{
    margin-top: 10px;
    letter-spacing: 0.2;
    word-spacing: 0.5;
}
.tab_titles
{
    display: flex;
    margin: 20px 0 40px;
}
.tab_links
{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab_links::after
{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab_links.active_link::after
{
    width: 50%;
}
.tab_contents ul li
{
    list-style: none;
    margin: 10px 0;
}
.tab_contents ul li span
{
    color: #b54769;
    font-size: 14px;
}
.tab_contents 
{
    display: none;
}
.tab_contents.active_tab
{
    display: block;
}
/*about section css end here*/



/*service section css start here*/
#services
{
    padding: 30px 0;
}
.services_list
{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services_list div
{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.services_list div i
{
    font-size: 50px;
    margin-bottom: 30px;
}
.services_list div h2
{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services_list div p
{
    font-size: 15px;
}
.services_list div:hover
{
    background: #ff004f;
    transform: translateY(-10px);
}
/*Service section css end here*/



/*Projects section css start here*/
#projects
{
    padding: 50px 0;
}
.work_list
{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work
{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img
{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer
{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.7s;
}
.layer h3
{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a
{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 12px;
    line-height: 30px;
    background: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img
{
    transform: scale(1.1);
}
.work:hover .layer
{
    height: 100%;
}
.btn
{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover
{
    background: #ff004f;
}
/*Projects section css end here*/



/*Contact section css start here*/
.contact_left
{
    flex-basis: 35%;
}
.contact_right
{
    flex-basis: 60%;
}
.contact_left p
{
    margin-top: 30px;
}
.contact_left p i
{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.social_icons
{
    margin-top: 30px;
}
.social_icons a
{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social_icons a:hover
{
    color: #ff004f;
    transform: translateY(-5px);
}
.btn.btn2
{
    display: inline-block;
    background: #ff004f;
}
.contact_right form
{
    width: 100%;
}
form input, form textarea
{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form textarea
{
    resize: none;
    overflow: hidden;
}
form .btn2
{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright
{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    margin-top: 20px;
}
.copyright i
{
    color: #ff004f;
}
.fa-arrow-up
{
    float: right;
    margin-right: 20px;
    margin-bottom: 10px !important;
    font-size: 20px;
    color: #ff004f;
    transition: transform 0.5s;
}
.fa-arrow-up:hover
{
    color:#fff;
    cursor: pointer;
    transform: translateY(-5px);
}
#msg
{
    color: #61b752;
    margin-top: -40px;
    display: block;
}
/*Contact secction css end here*/


nav .fas
{
    display: none;
}

/*Css code for small screen start here*/
@media only screen and (max-width: 600px){
    #header{
        background-image: url();
    }
    .header-text
    {
        font-size: 16px;
        display: flex;
        flex-direction: column;
    }
    .header-text-photo
    {
        margin-top: 10px;
        height: 300px;
        width: 300px;
        margin-left: 20px;
        margin-bottom: 50px;
    }
    #about
    {
        margin-top: 250px;
    }
    nav .fas
    {
        display: block;
        font-size: 25px;
    }
    nav ul
    {
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 300px;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li
    {
        display: block;
        margin: 25px;
    }
    nav ul .fas
    {
        position: absolute;
        top:25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title
    {
        font-size: 40px;
    }
    .about-col-1, .about-col-2
    {
        flex-basis: 100%;
    }
    .about-col-1
    {
        margin-bottom: 30px;
    }
    .about-col-2
    {
        font-size: 14px;
    }
    .tab_titles, .tab_links
    {
        font-size: 16px;
        margin-right: 20px;
    }
    .contact_left, .contact_right
    {
        flex-basis: 100%;
    }
    .copyright
    {
        font-size: 14px;
    }
}
@media only screen and (max-width: 375px){
    .header-text-photo{
        margin-left: -2px;
    }
}
@media only screen and (max-width: 320px){
    .header-text-photo{
        margin-left: -15px;
    }
    .copyright
    {
        background-color: #080808;
    }
}
@media only screen and (min-width: 426px) and (max-width: 1024px){
    .header-text-photo
    {
        margin-top: 0;
        margin-left: -20px;
    }
    .header-text-photo img
    {
        margin-right: 10px;
    }
}
/*Css code for small screen end here*/